data/*
deepfake.pyproj
resnet50.zip
feature_extraction.ipynb
.ipynb_checkpoints/
demo/movies/
*.mp4
*.model
*.jpg
__pycache__
activation_functions.png
deepfake_todo.txt
scratch.ipynb
sort_real_fake.py
framesplit_dirty.py
parse_training_data.py
keras-video-classification/*
*.jpg
*.jpeg
*.json
